#logo{
    width: 190px;
    margin-right: 10px;
}

.bg-light{
    background-color: white !important;
}

.btn_Masuk{
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: 1.5px solid;
    border-color: #b18498;
}

.btn_Daftar{
    font-weight: 700;
    border: none;
    color: white;
    background: linear-gradient(180deg,
      rgba(86, 71, 121, 0.5),
      rgba(86, 71, 121, 0) 100%),
      rgba(216, 146, 141, 0.8);
    margin-left: 15px;
}

.btn_Daftar:hover{
    color:white !important;
    background: linear-gradient(180deg,
      rgba(44, 15, 113, 0.5) 0%,
      rgba(50, 38, 78, 0) 100%),
      rgba(138, 83, 79, 0.8);
}

.btn_Masuk:hover{
    color:#564779;
    border: 1.5px solid #564779;
}

.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.nav-link:hover{
    color: #564779;
}


footer{
  background-color: #564779;
}

footer .container{
    display: flex;
    width: 86%;
}

footer .row{

  width: 100%;
}
footer .col{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;

}



footer h4{
  margin-top: 1rem;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
#copyright{
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  height: 100%;
  background-color: #564779;
  color: white;
  font-weight: 400;
  font-size: 15px;
}
footer p{
  color: white;
  font-weight: 400;
  margin-bottom: 0.2rem;
  text-align: left;
  width: 100%;
}



.icons{
  width: 100%;
}

#icons{
  width: 35px;
  margin: 0.2rem 0.3rem;
}

#icons_spc{
  width: 25px;
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
}

.isi{
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0.3rem;
  align-items:  center;
}

.get_it_store{
  width: 211px;
  height: 50px;
  background: #000000;
  border-radius: 35px;
  margin-bottom: 0.5rem;
}

#icons_store{
  width: 50px;
}
